body {

    font-family: sans-serif;
}
table {
    border: 2px solid black;
    border-radius: 8px;
}
th {
    font-size: 150%;
    text-align: left;
    background-color: coral;
    padding: 10px;
}
td {
    text-align: left;
    background-color: azure;
    padding: 4px;
    word-break: break-all;
}


        .warning {
            color: black;
            background-color: cadetblue;
            display: inline;
            padding: 8px;
            border: 2px yellow;
            border-radius: 5px;
        }


table {
  width: 40%;
  border-spacing: 0;
  border-collapse: collapse;
}