<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#ededed;">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{'/'}">DreamLog</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{'/register'}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{'/login'}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 30px;">
    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <form autocomplete="off" action="#" th:action="@{/savePassword}" th:object="${passwordDto}" method="post" class="form-signin" role="form">
            <h3 class="form-signin-heading">Password Reset Form</h3>

            <div class="form-group">
                <div class="">
                    <input type="password" th:field="*{newPassword}" placeholder="Password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                    <a th:href="@{'/login'}">Sign In</a>
                </div>
            </div>
            <span th:utext="${message}"></span>
            <span th:utext="${emailVerificationMsg}"></span>
            <div class="alert alert-success alert-dismissible col-sn-12"
                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">x</button>
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getDefaultMessage()}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
</body>
</html>